body {
  background-color: #343539;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  overflow-x: hidden;
  @extend %Neue-400;
}

.container {
  max-width:1132px;
  width: 100%;
  margin: 0 auto 0 167px;
}







